rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn(){ return request.auth != null; }
    function isAdmin(){
      return signedIn() && (
        request.auth.token.email == 'fmdyh6636@gmail.com' ||
        firestore.get(/databases/(default)/documents/roles/$(request.auth.uid)).data.role in ['admin','superadmin']
      );
    }
    match /payment-proofs/{uid}/{fileName} {
      allow write: if signedIn()
        && request.auth.uid == uid
        && request.resource.size < 8 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
      allow read: if isAdmin() || (signedIn() && request.auth.uid == uid);
    }
  }
}